body {
  font-family: 'Inria Serif', serif;
}

.height-screen-size{
  /* height: 1000px; */
  /* height: 100vh; */
  min-height: 100vh;
}

.height-80-of-screen-size{
  /* height: 1000px; */
  /* height: 100vh; */
  min-height: 80vh;
}

.text-underline {
  height: 5px;
  width: 200px;
  margin: auto;
}

.about-picture {
  background-image: url(../images/img-project-0.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.img-fluid.small-img-size{
  height: 256px;
  width: 256px;
}

img.small-img-size {
  height: 400px;
  width: 524px;
}

img.regular-img-size {
  height: 524px;
  width: 888px;
}

#filler {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/Project01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}



