#logo {
  height: 48px;
  width: 48px
}

:root {
  --mainPink: #ef7998;
  --mainYellow: rgb(249,229,148);
  --mainWhite: #ffffff;
  --mainBlack: #000;
  --yellowTrans: rgba(249,229,148,0.5);
  --pinkTrans: rgba(204, 134, 192, 0.5);
  --mainGrey: rgb(238,238,238);
}

body {
  font-family: 'Inria Serif', sans-serif;
  background-color: var(--mainWhite);
  color: var(--mainBlack);
}

/* global styles start */
.btn-pink {
  color: var(--mainPink) !important;
  border: 0.1rem solid var(--mainPink) !important;
}


.btn-pink:hover {
  color: var(--mainBlack) !important;
  border: 0.1rem solid var(--mainBlack) !important;
}


.btn-black {
  color: var(--mainBlack) !important;
  border: 0.1rem solid var(--mainBlack) !important;
}


.btn-black:hover {
  color: var(--mainPink) !important;
  border: 0.1rem solid var(--mainPink) !important;
}

/* global styles end */

/* Nav bar links styles start */
.navbar-toggler {
  outline: none !important;
}

.toggler-icon {
  font-size: 2.5rem;
  color: var(--mainPink);
}

.nav-link {
  font-size: 1.5rem;
  color: var(--mainPink);
  transition: all 1s ease-in-out;
}

.nav-link:hover {
  color: var(--mainBlack);
}
/* Nav bar links styles end */

/* cart styles start */
.cart-info__icon {
  color: var(--mainBlack);
  cursor: pointer;
}

.cart-info {
  border: 0.1rem solid var(--mainBlack);
  padding: 0.4rem 0.6rem;
  color: var(--mainBlack);
  border-radius: 0.25rem;
  cursor: pointer;
}

.cart-info:hover {
  color: var(--mainWhite);
  border: var(--mainPink);
  background-color: var(--mainPink);
}

.cart-info:hover .cart-info__icon {
  color: var(--mainWhite);
}
/* cart styles end */

/* banner styles start */
.banner-background {
  min-height: calc(100vh - 76px);
  background: linear-gradient(var(--pinkTrans), var(--pinkTrans)), url(../images/img-cart/background-banner.jpg);
  background-position: center;
  background-position: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  color: var(--mainWhite);
}

.banner-title {
  color: yellow;
  font-size: 6rem;
}

.banner-link {
  font-size: 1.5rem;
  color: var(--mainBlack);
  border: 0.2rem solid var(--mainBlack);  
}

.banner-link:hover {
  background-color: white;
  color: var(--mainPink);
  border-color: var(--mainPink);
}
/*banner styles end*/

/* about section styles start */

.about-img__container {
  position: relative;
}

.about-img__container::before {
  content: "";
  position: absolute;
  top: -1.7rem;
  left: -1.5rem;
  height: 100%;
  width: 100%;
  outline: 0.5rem solid var(--mainYellow);
  z-index: -1;
  transition: all 1s ease-in-out;
}

.about-img__container:hover:before {
  top: 0;
  left: 0;
}

/* about section styles end */

/* store styles start */
.search-box {
  color: var(--mainBlack);
  background-color: var(--mainPink);
}

.store {
  background-color: var(--mainGrey);
}

.single-item {
  transition: all 0.3s linear;
}

.single-item:hover {
  box-shadow: 0px 10px 8px rgb(0,0,0);
}

.img-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.store-img {
  width: 428px;
  height: 256px;
  transition: 1s all ease-in-out;
}

.img-container:hover .store-img {
  transform: scale(1.2)
}

.store-item-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.75rem;
  background-color: var(--mainYellow);
  border-top-left-radius: 1rem;
  transition: all 1s ease-in-out;
  transform: translate(100%, 100%);
}

.img-container:hover .store-item-icon {
  transform: translate(0, 0);
}

.store-item-icon:hover {
  color: var(--mainPink);
}

/* store styles end */

/* services section start */
  .services {
    color: var(--mainWhite);
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/img-cart/services-background.jpg") center/cover fixed no-repeat;
  }

  .service-title {
    letter-spacing: 0.5rem;
  }

  .service-text {
    word-spacing: 0.5rem;
  }

/* services section end */

/* start of footer */
.footer-icon {
  font-size: 1.5rem;
  transition: all 0.4 ease-in;
}

.footer-icon:hover {
  color:var(--mainPink);
}
/* end of footer */

.cart-item img {
  width:60px;
  height: 60px;
}

.cart {
  position: absolute;
  min-height: 10rem;
  background-color: rgba(255,255,255,0.5);
  top: 0;
  right: 0;
  width: 0rem;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.show-cart {
  width: 18rem;
  padding: 2rem 1.5rem;
  transform: rotateY(-360deg);
}

